.primary-header {
        padding:15px 15px;
        background: #1F2729;
        color:#fff;
}
.col{
    width: 40%; 
    float: left;
    text-align: center;
    font-family: monospace;
    margin: 0.685rem;
    font-size: 2rem;
}
.title1sub{
    
    float: left;
    text-align: left;
    font-family: monospace;
    margin: 0.685rem;
    font-size: 0.8rem;
    
}
    